*{
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
  /* border: 1px solid black; */
}
.head{
  width: 100%;
  display: flex;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  padding: 10px 0px;
  background-color: burlywood;
}
.box1{
  width: 50%;
  /* border: 1px solid black; */

}
.box2{
  width: 50%;
  /* border: 1px solid black; */

}
.home{

  max-width: 100%;
  display: flex;
}
.dice {
  width: 50%;
  text-align: center;
  display: inline-block;
  /* border: 1px solid black; */


}

.key{
  display: none;
}

h1 {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
  /* border: 1px solid black; */

}
h2 {
  text-align: center;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
  cursor: pointer;
  /* border: 1px solid black; */

}
.score{
  background-color: #d625b0;
  padding: 10px 0px;
  color: white;
  /* border: 1px solid black; */

}
.score .team{
  margin: 0px 250px;
  font-size: 35px;
  /* border: 1px solid black; */

}
.score .scorecard{
  margin: 0px 300px;
  font-size: 35px;
  /* border: 1px solid black; */

}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  /* border: 1px solid black; */

}

img {
  /* border: 1px solid black; */

  width: 30%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
@media (max-width:1000px) {
  .head{
    font-size: 60px;
    background-color: aqua;
  }
  .home{
    margin-top: 300px;
  }
  img {
    /* border: 1px solid black; */
  
    width: 70%;
  }
  .key{
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
  }
  .key button{
    margin-top: 200px;
    height: 90px;
    border-radius: 15px;
    font-size: 4.5rem;
    padding: 0px 18px;
    cursor: pointer;
    background-color: rgb(51, 161, 194);
    color: rgb(117, 2, 2);
  
  }
}